[Unit]
Description=PointJoy backup every ten minutes
[Timer]
OnCalendar=*:0/10
Persistent=true
RandomizedDelaySec=15
[Install]
WantedBy=timers.target
